{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Jinja 2 Templating Engine -->
  <!-- bootstrap and custom stylesheets -->
  <link rel="stylesheet" href="{% static 'dashboard/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'dashboard/main.css' %}">
  <link rel="stylesheet" href="{% static 'dashboard/jquery-ui.min.css' %}">
  <link rel="stylesheet" href="{% static 'dashboard/style.css' %}">
  <!-- custom javascript and jquery imports -->
  <script src="{% static 'dashboard/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'dashboard/popper.min.js' %}"></script>
  <script src="{% static 'dashboard/jquery-ui.js' %}"></script>
  <script src="{% static 'dashboard/bootstrap.min.js' %}"></script>
  <script src="{% static 'dashboard/get.js' %}"></script>
  <script src="{% static 'dashboard/plotly-latest.min.js' %}"></script>
  {% block menubar %} {% endblock %}
  
  <title>Virtual IoT Lab </title>

</head>

<body>

  <header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top" style="background-color: #8b4513 ">
      <div class="container-fluid">
        <a class="navbar-brand mr-4" href="#">Virtual IoT Lab</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggle">
          <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link" href="{% url 'home'%}">Home</a>
            <a class="nav-item nav-link" href="#">About</a>
          </div>
          <!-- Navbar Right Side -->
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="#">Login</a>
            <a class="nav-item nav-link" href="#">Register</a>

          </div>
        </div>
      </div>
    </nav>
  </header>

  <main role="main" class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <div class="content-section">
          <h3>
            <center>Action Area</center>
          </h3>
          <p class='text-muted'>Select a functionality
            <ul class="list-group">
              <li class="list-group-item list-group-item-light"><a href="{% url 'create_d'%}">Add new Sensor</a></li>
              <li class="list-group-item list-group-item-light"><a href="{% url 'devices-home'%}">My Sensors </a></li>
              <li class="list-group-item list-group-item-light"><a href="{% url 'test'%}">Testing</a></li>
              <li class="list-group-item list-group-item-light"><a href="{% url 'analysis' %}">Analysis</a></li>
            </ul>
          </p>
        </div>
      </div>
      <div class="col-md-9">
        {% block content %}{% endblock %}
      </div>
    </div>



  </main>


</body>

</html>