{% extends 'devices/base.html' %} {% block content %}
      <article class="media content-section">
        <img src="" class="rounded-circle article-img">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="#">sdf</a>
            <small class="text-muted">sdf</small>
          </div>
          <h2>
            <a class="article-title" href="#">sdf</a>
          </h2>
          <p class="article-content">fsd</p>
        </div>
      </article>

{% endblock content %}