{% extends "userinterface/base.html" %}
{% load static %}

{% block pagecss %}
		<link rel="stylesheet" href="{% static 'userinterface/assets/vendor/pnotify/pnotify.custom.css' %}" />
{% endblock pagecss %}

{% block page %}

	<section class="panel form-wizard" id="w4">
		<header class="panel-heading">
			<div class="panel-actions">
				<a href="#" class="fa fa-caret-down"></a>
				<a href="#" class="fa fa-times"></a>
			</div>

			<h2 class="panel-title">New Thing</h2>
		</header>
		<div class="panel-body">
			<div class="wizard-progress wizard-progress-lg">
				<div class="steps-progress">
					<div class="progress-indicator"></div>
				</div>
				<ul class="wizard-steps">
					<li class="active">
						<a href="#w4-account" data-toggle="tab"><span>1</span>Basic Info</a>
					</li>
					<li>
						<a href="#w4-profile" data-toggle="tab"><span>2</span>Attributs</a>
					</li>
					<li>
						<a href="#w4-billing" data-toggle="tab"><span>3</span>Rules</a>
					</li>
					<li>
						<a href="#w4-confirm" data-toggle="tab"><span>4</span>Testing</a>
					</li>
				</ul>
			</div>

			<form class="form-horizontal" novalidate="novalidate" id="thing">
				<div class="tab-content">
					<div id="w4-account" class="tab-pane active">
						<div class="form-group">
							<label class="col-sm-3 control-label" for="w4-SensorName">SensorName</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" name="SensorName" id="w4-SensorName" required>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label" for="w4-SensorType">Sensor Type</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" name="SensorType" id="w4-SensorType" required minlength="6">
							</div>
						</div>
					</div>
					<div id="w4-profile" class="tab-pane">
						<div class="form-group">
							<label class="col-sm-3 control-label" for="w4-SensingType">Sensing Type</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" name="SensingType" id="w4-SensingType" required>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label" for="w4-model">model</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" name="model" id="w4-model" required>
							</div>
						</div>
					</div>
					<div id="w4-billing" class="tab-pane">
						<div class="form-group">
							<label class="col-sm-3 control-label" for="w4-RuleName">Rule Name</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" name="RuleName" id="w4-RuleName" required>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label" for="w4-RuleType">Rule Type</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" name="RuleType" id="w4-RuleType" required>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label" for="w4-RuleValue">Rule Value</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" name="RuleValue" id="w4-RuleValue" required>
							</div>
						</div>
							<div class="form-group">
							<label class="col-sm-3 control-label" for="w4-RuleField">Rule Field</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" name="RuleField" id="w4-RuleField" required>
							</div>
						</div>
							<div class="form-group">
							<label class="col-sm-3 control-label" for="w4-RuleDescription">Rule Description</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" name="RuleDescription" id="w4-RuleDescription" required>
							</div>
						</div>
						</div>
						{% comment %} <div class="form-group">
							<label class="col-sm-3 control-label" for="inputSuccess">Expiration</label>
							<div class="col-sm-5">
								<select class="form-control" name="exp-month" required>
									<option>January</option>
									<option>February</option>
									<option>March</option>
									<option>April</option>
									<option>May</option>
									<option>June</option>
									<option>July</option>
									<option>August</option>
									<option>September</option>
									<option>October</option>
									<option>November</option>
									<option>December</option>
								</select>
							</div>
							<div class="col-sm-4">
								<select class="form-control" name="exp-year" required>
									<option>2014</option>
									<option>2015</option>
									<option>2016</option>
									<option>2017</option>
									<option>2018</option>
									<option>2019</option>
									<option>2020</option>
									<option>2021</option>
									<option>2022</option>
								</select>
							</div>
						</div>
					</div> {% endcomment %}
					<div id="w4-confirm" class="tab-pane">
						<div class="form-group">
							<label class="col-sm-3 control-label" for="w4-interval">Testing Interval</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" name="interval" id="w4-interval" required>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-3"></div>
							<div class="col-sm-9">
								<div class="checkbox-custom">
									<input type="checkbox" name="active" id="w4-active" required>
									<label for="w4-terms">Activate</label>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
		<div class="panel-footer">
			<ul class="pager">
				<li class="previous disabled">
					<a><i class="fa fa-angle-left"></i> Previous</a>
				</li>
				<li class="finish hidden pull-right">
					<a>Finish</a>
				</li>
				<li class="next">
					<a>Next <i class="fa fa-angle-right"></i></a>
				</li>
			</ul>
		</div>
	</section>
				

{% endblock page %}

{% block pagevendor %}

	<script src="{% static 'userinterface/assets/vendor/jquery-validation/jquery.validate.js' %}"></script>
		<script src="{% static 'userinterface/assets/vendor/bootstrap-wizard/jquery.bootstrap.wizard.js' %}"></script>
		<script src="{% static 'userinterface/assets/vendor/pnotify/pnotify.custom.js' %}"></script>
   

{% endblock pagevendor %}

{% block example %}
 <script src="{% static 'userinterface/assets/javascripts/forms/examples.wizard.js' %}"></script>

 {% endblock example%}