{% extends "userinterface/base.html" %}
{% load static %}

{% block pagecss %}
  <style>

.btn-default.btn-on-1.active{background-color: #5BB75B;color: white;}
.btn-default.btn-off-1.active{background-color: #DA4F49;color: white;}
  </style>
		<link rel="stylesheet" href="{% static 'userinterface/assets/vendor/pnotify/pnotify.custom.css' %}" />
{% endblock pagecss %}

{% block page %}
<div class="col-md-6 col-lg-12 col-xl-6">
							<div class="row">
              {% comment %} start {% endcomment %}
              {% for k in data %}
								<div class="col-md-12 col-lg-4 col-xl-4">
               <section class="panel panel-featured panel-featured-info">
								<header class="panel-heading">
									
									<h2 class="panel-title">{{ k.sensor_name}}</h2>
								</header>
								<div class="panel-body">
									<p><b>Type:</b> {{k.sensor_type }}</p>
                  <p><b>Date Created:</b> {{k.timestamp}}</p>
                  <p><b>Test Interval:</b>{{k.interval}}</p>
								</div>
                <div class="panel-footer">
                <button type="button" class="mr-15px btn btn-primary" style="margin-right:5px;">View Tests</button>

                 <div class="btn-group" style="float:right" id="status" data-toggle="buttons">
                    <label class="btn btn-default btn-on-1 btn-sm active">
                    <input type="radio" value="1" name="on" onChange="toggle(this,'{{k.sensor_name}}')">Active</label>
                    <label class="btn btn-default btn-off-1 btn-sm ">
                    <input type="radio" value="0" name="on" onChange="toggle(this,'{{k.sensor_name}}')">Inactive</label>
                    </div>
                </div>
							</section>

								</div>
                {% endfor %}
								{% comment %} end {% endcomment %}
							</div>
						</div>
					</div>

{% endblock page %}

{% block pagevendor %}

	<script src="{% static 'userinterface/assets/vendor/jquery-validation/jquery.validate.js' %}"></script>
		<script src="{% static 'userinterface/assets/vendor/bootstrap-wizard/jquery.bootstrap.wizard.js' %}"></script>
		<script src="{% static 'userinterface/assets/vendor/pnotify/pnotify.custom.js' %}"></script>
   

{% endblock pagevendor %}

{% block example %}
 
<script>
function getCookie(name) {
			var cookieValue = null;
			var i = 0;
			if (document.cookie && document.cookie !== '') {
				var cookies = document.cookie.split(';');
				for (i; i < cookies.length; i++) {
					var cookie = jQuery.trim(cookies[i]);
					// Does this cookie string begin with the name we want?
					if (cookie.substring(0, name.length + 1) === (name + '=')) {
						cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
						break;
					}
				}
			}
			return cookieValue;
		}
		
	
		function csrfSafeMethod(method) {
			// these HTTP methods do not require CSRF protection
			return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
		}


function toggle(togg,n){

  var csrftoken = getCookie('csrftoken');
  
	$.ajaxSetup({
			crossDomain: false, // obviates need for sameOrigin test
			beforeSend: function(xhr, settings) {
				if (!csrfSafeMethod(settings.type)) {
					xhr.setRequestHeader("X-CSRFToken", csrftoken);
				}
			}
		}); 
  var x=togg.value;
  var y="on";
  if(x==0)
  {
    y="off";
  }
  $.ajax({
    url: "http://localhost:8000/api/toggleTest/?status="+y+"&name="+n,   
    cache: false,
});
}
</script>

 {% endblock example%}