{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Jinja 2 Templating Engine -->
    <!-- bootstrap and custom stylesheets -->
    <link rel="stylesheet" href="{% static 'dashboard/bootstrap.min.css' %}" >
    <link rel="stylesheet" href="{% static 'dashboard/main.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/jquery-ui.min.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/style.css' %}">
    <!-- custom javascript and jquery imports -->
    <script src="{% static 'dashboard/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'dashboard/popper.min.js' %}"></script>
    <script src="{% static 'dashboard/jquery-ui.js' %}"></script>
    <script src="{% static 'dashboard/bootstrap.min.js' %}"></script>
    <script src="{% static 'dashboard/get.js' %}"></script>
    <title>Virtual IoT Lab </title>
    
</head>

<body>

    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top" style="background-color: #8b4513 ">
            <div class="container-fluid">
                <a class="navbar-brand mr-4" href="#">Virtual IoT Lab</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                    aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <div class="navbar-nav mr-auto">
                        <a class="nav-item nav-link" href="#">Home</a>
                        <a class="nav-item nav-link" href="#">About</a>
                    </div>
                    <!-- Navbar Right Side -->
                    <div class="navbar-nav">
                        <a class="nav-item nav-link" href="#">Login</a>
                        <a class="nav-item nav-link" href="#">Register</a>
                        
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main role="main" class="container-fluid">
        
             
                {% block content %}{% endblock %}
           
    </main>

    
</body>

</html>