{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}

<div class="container-fluid bod-container" >
    <div class="row rowed" >
        <div class="col-3 coled-3" >
            <h2>Tools</h2>
            <div class="card card-1" >
                <img class="card-img-top tool tool-1" src = "{% static 'dashboard/images/arduino-2168193_960_720.png' %}" width=200px height="200px">
                <div class="card-body">
                        <h5 class="card-title">Arduino</h5>
                        <p class="card-text">Main board which orchestrte the different sensors and their response.</p>
                        </div>
            </div>
            <div class="card card-2" >
                    <img class="card-img-top tool tool-2" src = "{% static 'dashboard/images/sensorTemperature.png'%}" width=200px height="200px">
                    <div class="card-body">
                            <h5 class="card-title">Temperature Sensor</h5>
                            <p class="card-text">Sensetive to change in Temperature</p>
                            </div>
                </div>
                <div class="card card-3" >
                        <img class="card-img-top tool tool-3" src = "{% static 'dashboard/images/battery9V.png' %}" width=200px height="200px">
                        <div class="card-body">
                                <h5 class="card-title">Battery</h5>
                                <p class="card-text">9V power Supply</p>
                                </div>
                    </div>
            

        </div>
        <div class="col-9 canvas canvass" >
            <h2>Canvas</h2>
        </div>
    </div>
</div>

{% endblock content %}