{% extends 'dashboard/base.html' %} {% load crispy_forms_tags %} {% block content%}
{{data}}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <a href="http://localhost:8000/thing/" class="btn btn-primary" style="background-color: #8b4513">Create new Thing</a>
      <a href="http://localhost:8000/type/" class="btn btn-primary" style="background-color: #8b4513">Create Thing Type</a>
      <a href="http://localhost:8000/certi/" class="btn btn-primary" style="background-color: #8b4513">Create New Certificate</a>
      <a href="http://localhost:8000/policy/" class="btn btn-primary" style="background-color: #8b4513">Create new Policy</a>
    </div>
  </div>
</div>

{% endblock content%}
