{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
<div>
  <img src="{% static 'dashboard/images/sensorTemperature.png' %}" width="100" height="100">
  <h1> API results <br>Location: Mumbai</h1>
  <table border="2">
    <tr>
      <th>
        Count
      </th>
      <th>
        Temperature
      </th>
      <th>
        timestamp
      </th>
    </tr>
    {% for k in data %} 
      <tr>
        <td>
         {{ k.count}}
        </td>

        <td>
         {{ k.Mumbai}}
        </td>

        <td>
         {{ k.timestamp}}
        </td>
      </tr>

    {% endfor %}
  </table>
</div>
{% endblock content %}