h3 {
    border: 2px solid gray; 
    border-radius: 5px;
    padding: 5px;
    z-index: 2;
}
.bod-container{
    position:absolute; 
    top: 56px;bottom: 0px;
    left: 0px;right:0px;
    overflow-x:hidden;
    overflow-y:hidden;
    height: inherit;
    width: inherit;
    margin: 0px;
    padding: 0px;

}
.rowed{
    position:relative;
    height:100%;
}
.coled-3{
    overflow-x:hidden;
    overflow-y:scroll;
    background-color:#9acfea;
    top:0px;left:0px;
    bottom:0px; 
    position:absolute;
    z-index:2;
    margin: 0;
    padding: 0px;
    padding-left: 18px;
    max-width: 25%;
    

}
.canvass{
    background-color: beige;
    top:0px;right:0px;
    bottom:0px; 
    position:absolute;
}